/* -----Defult margin and top and bottom ar jonno defult kisbo css use kori ---- */

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-5 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-95 {
    margin-top: 95px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-105 {
    margin-top: 105px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-115 {
    margin-top: 115px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-125 {
    margin-top: 125px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-135 {
    margin-top: 135px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-145 {
    margin-top: 145px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-150 {
    margin-top: -185px;
}


/*----------=======-------- Margin top ar all deult css neya all close korlam-------0========== */


/*----jekono web ar maje  backround-color ar jonno  amai jaj korte hobe------- */

.gray-bg {
    background-color: #d7edf6;
}

.theme-bg {
    background-color: #EFF7FA;
}

.data-img {
    background-color: cadetblue;
}

.culture-img {
    background-color: #F9F9F9;
}

.Advertise-img {
    background-color: #19283F;
}

.header-img {
    background-color: #F9F9F9;
}

.Services-img {
    background-color: #17C2A4;
}

.protfolio-img {
    background-color: #FFDD99;
}

.team-img {
    background-color: #E7F1F8;
}

.skill-img {
    background-color: #ffffff;
}

.Newsletter-img {
    background-color: #ffc501;
    margin-top: 96px;
    padding-top: 21px;
    padding-bottom: 21px;
}

.men-img {
    background-color: #62657D;
    background-color: rgb(105, 195, 109);
}

.People-img {
    background-color: #D74680;
}

.footer_top-img {
    background-color: #333333;
}

.contact-img {
    background-color: #64657D;
}

.clients-img {
    background-color: #64CBC0;
}

.work_process-img {
    background-color: #F6F6F6;
}

.work_card-img {
    /* 
    background-color: #657188; */
    background-color: #62657D;
    /* 
background-color: #5C687E; */
}

.latest_work {
    background-color: #FFFFFF;
}

.experince_bg {
    background-color: #456978;
}

.contact-img {
    background-color: #3C5499;
}

.footer-img {
    background-color: #272121;
}


/*----jekono web ar maje  backround-color ar jonno  amai jaj korte  ta all close  ai jaigai------- */


/*----------=======-------- Padding top ar all deult css neya all start  korlam-------0========== */

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-55 {
    padding-top: 55px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-85 {
    padding-top: 85px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-95 {
    padding-top: 95px;
}

.pt-100 {
    padding-top: 100px;
}


/*---=====--- padding-bottom--ar (105-200) porjonto start kroi CSS--===-- */

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pt-115 {
    padding-bottom: 115px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-125 {
    padding-bottom: 125px;
}

.pb-125 {
    padding-bottom: 125px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-135 {
    padding-bottom: 135px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-145 {
    padding-bottom: 145px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pb-155 {
    padding-bottom: 155px;
}

.pb-160 {
    padding-bottom: 160px;
}

.pb-165 {
    padding-bottom: 165px;
}

.pb-170 {
    padding-bottom: 170px;
}

.pb-175 {
    padding-bottom: 175px;
}

.pb-180 {
    padding-top: 180px;
}

.pb-185 {
    padding-bottom: 185px;
}

.pb-190 {
    padding-bottom: 190px;
}

.pb-195 {
    padding-bottom: 195px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-210 {
    padding-top: 210px;
}

.pb-210 {
    padding-bottom: 210px;
}


/*----------=======-------- Padding top ar all deult css neya all close korlam-------0========== */


/*----------=======-------- Padding Bottom ar all deult css neya all close korlam-------0========== */

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-5 {
    padding-top: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-55 {
    padding-bottom: 55px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-65 {
    padding-bottom: 65px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pb-100 {
    padding-bottom: 100px;
}


/*---=====--- padding-bottom--ar (105-200) porjonto start kroi CSS--===-- */

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pt-115 {
    padding-bottom: 115px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-125 {
    padding-bottom: 125px;
}

.pb-125 {
    padding-top: 125px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-135 {
    padding-bottom: 135px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-145 {
    padding-bottom: 145px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pb-155 {
    padding-bottom: 155px;
}

.pb-160 {
    padding-bottom: 160px;
}

.pb-165 {
    padding-bottom: 165px;
}

.pb-170 {
    padding-bottom: 170px;
}

.pb-175 {
    padding-bottom: 175px;
}

.pb-180 {
    padding-bottom: 180px;
}

.pb-185 {
    padding-bottom: 185px;
}

.pb-190 {
    padding-bottom: 190px;
}

.pb-195 {
    padding-bottom: 195px;
}

.pb-100 {
    padding-bottom: 100px;
}


/*---=====--- padding-bottom--ar (105-200)  porjonto  close   kroi CSS--===-- */


/*----------=======-------- Margin top ar all deult css neya all close korlam-------0========== */


/*------------====-----data overlay ar jonno--=======--------- *


[data-overlaay] {

        position: relative;

}






[data-overlaay]::before{

    background: #000 none repeat scroll 0 0 ;

    content: '';
    height: 100%;
    left: 0;

    position: absolute;

    top:0;

    width: 100%;

    z-index: 1;


}












[data-overlaay="3"]::before {

    opacity: 0.3;

}





[data-overlaay="4"]::before {


    opacity: 0.4;

}






[data-overlaay="5"]::before {

    opacity: 0.5;


}







[data-overlaay="6"]::before {

    opacity: 0.6;


}








[data-overlaay="7"]::before {

    opacity: 0.7;


}









[data-overlaay="8"]::before {

    opacity: 0.8;


}









[data-overlaay="9"]::before {

    opacity: 0.9;


}









/*------------====-----data overlay ar jonno--=======--------- */




.contact_bg {
    background-color: #101012;
}


.services_bg {
   
    background-color:darkgray;
}

.phone-bg {
    background-color: #1f2021;
}

.about_bg {
    background-color: #fff;
}

.clients_bg {
    background-color: #161f32;
}

.history_bg {
    background-color: #f4f4f4;
}

.amazing_bg{
    background-color: #383838;
    
}



.counter_bg {
    background-color: #121116;
}

.testimonial_bg {
    background-color: #ffffff;
}


.clients_bg {
    background-color: #ffffff;
}

.Quote_bg {
    background-color: #222c40;
}

.pricing_bg {
    background-color: #ffffff;
}

.footer_bg {
    background-color: #00c7fc;
}

.item_bg {
    background-color: #222c40;
}

.blog_bg {
    background-color: #ffffff;
}

.gray-bg {
    background-color: #ffffff;
}

.theme-bg {
    background-color: #f9f9f9;
}

.white-bg {
    background-color: #f9f9f9;
}